body{
  font-family: "Heebo";
  font-size: 20px;
  line-height: 1.5;
}

/* SKIP TO CONTENT */

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus{
  top: 0px;
}

:focus{
  border: 2px solid #f08335;
  outline: none;
}

/* HEADER STYLE */

header {
  display: flex;
  min-height: 130px;
  height: auto;
  width: 100%;
  flex-direction: column;
  background-color:#1e4883;
}

.tagline {
  flex: .75;
  text-align: center;
  font-family: "Poppins";
  color: white;
  font-size:2.5em;
  padding-top: 15px;
}

.nav {
  flex: .25;
  text-align: center;
}
nav ul{
  list-style-type: none;
}

nav ul li{
  display: inline;
  color: white;
  padding: 25px;
  font-family: "Poppins";
}

nav li a{
  color: white;
  font-size: 1.25em;
  text-decoration: none;
}

nav li a:hover {
  font-weight: bold;
  color: #99A3A4;
}

nav li a.active {
  color: #f08335;
  font-style: bold;
}

/* IMAGE STYLES */

/* img {
  height: 350px;
  width: auto;
} */

.image{
  width: 95%;
  height: auto;
  padding: 2.5%;
}

iframe{
  width:95%;
  min-height:500px;
  padding: 2.5%;
  height: auto;
}

footer{
  font-size: .75em;
  background-color: #99A3A4;
  color: white;
  font-family: "Poppins";
  text-align: center;
  padding-top: .5em;
  /* position: sticky; */
}

.address{
  padding: .5em
}

footer nav ul{
  list-style-type: none;
}

footer nav a{
  color: white;
  text-decoration: none;
  font-size: .75em;
}

footer nav a:hover{
  color: #f08335;
  font-style: bold;
  font-size: 1em;
}

/* GRID PHONE STYLE */

.container2{
  display: grid;
  grid-template: 100%;
}

.footernav{
  grid-column: 1;
  grid-row: 1;
}

footer nav li{
  color: white;
  padding-right: 1em;
  font-family: "Poppins";
}

.address{
  grid-column: 1;
  grid-row: 2;
  text-align: center;
}

.footerimg{
  grid-column: 1;
  grid-row: 3;
}

/* IMAGE STYLES */

/* img {
  height: 350px;
  width: auto;
} */

.image{
  width: 95%;
  height: auto;
  padding: 2.5%;
}

/* GRID PHONE */
  .container{
    display: grid;
    grid-template-columns: 100%;
  }
  main h1{
    font-size: 2em;
    padding: 2.5%;
    text-align: center;
    font-family: "Poppins";
    color:#1e4883;
    font-weight: bolder;
  }
  main h2{
    font-size: 1.5em;
    padding: 2.5%;
    text-align: center;
    font-family: "Poppins";
    color: #f08335;
    font-weight: bolder;
  }

  main p a{
    color: #f08335;
    text-decoration: none;
  }

main p{
  padding: 2.5%;
}

  .homepageimage{
    grid-column: 1;
    grid-row: 2;
  }
  .hallo{
    grid-column: 1;
    grid-row: 1;
    /* padding: 2.5%; */
  }

  .berlinchurch{
    grid-column: 1;
    grid-row: 3;
  }

  .eastsidegallery{
    grid-column: 1;
    grid-row: 4;
  }

  .humboldtuniversity{
    grid-column: 1;
    grid-row: 5;
  }

  .aboutheading{
    grid-column:1;
    grid-row: 1;
  }

  .whatisthecentreheading{
    grid-column: 1;
    grid-row: 2;
  }

  .whatisthecentre{
    grid-column: 1;
    grid-row: 3;
    /* padding: 2.5%; */
  }

  .researchyoutube{
    grid-column: 1;
    grid-row: 4;
  }

  .locationheading{
    grid-column: 1;
    grid-row: 5;
  }

  .location{
    grid-column: 1;
    grid-row: 6;
    /* padding: 2.5% */
  }

  .ibimap{
    grid-column: 1;
    grid-row: 7;
  }

  .gmap_canvas {
    grid-column: 1;
    grid-row: 7;
    background:none!important;
    height:95%;
    width:95%;
    /* padding: 2.5%; */
  }

  .iframemap{
    grid-column: 1;
    grid-row: 7;
  }

  .directorheading{
    grid-column: 1;
    grid-row: 8;
  }

  .directorimage{
    grid-column: 1;
    grid-row: 10;
  }

  .director{
    grid-column: 1;
    grid-row: 9;
    /* padding: 2.5%; */
  }

  .heading{
    grid-column: 1;
    grid-row:1;
  }

  .projectsdiagram{
    grid-column: 1;
    grid-row: 3;
  }

  .projectsoverview{
    grid-column: 1;
    grid-row: 2;
    /* padding: 2.5%; */
  }

  .workshopseriesheading{
    grid-column: 1;
    grid-row: 4;
  }

  .workshopseries{
    grid-column: 1;
    grid-row: 5;
    /* padding: 2.5%; */
  }

  .teaching{
    grid-column: 1;
    grid-row:6 ;
  }

  .workshop1{
    grid-column: 1;
    grid-row: 7;
  }

  .workshop2{
    grid-column: 1;
    grid-row: 8;
  }

  .workshop3{
    grid-column: 1;
    grid-row: 9;
  }

  .internationalwebinarheading{
    grid-column: 1;
    grid-row: 10;
  }

  .internationalwebinar{
    grid-column: 1;
    grid-row: 11;
    /* padding: 2.5%; */
  }

  .teri{
    grid-column: 1;
    grid-row: 13;
  }

  .webinarvideo{
    grid-column: 1;
    grid-row: 12;
  }

  .libraryarticleheading{
      grid-column: 1;
      grid-row: 14;
  }

  .libraryarticle{
    grid-column: 1;
    grid-row: 15;
    /* padding: 2.5%; */
  }

  .officework{
    grid-column: 1;
    grid-row: 16;
  }

  .socialmediaheading{
    grid-column: 1;
    grid-row: 17;
  }

  .socialmedia{
    grid-column: 1;
    grid-row: 18;
    /* padding: 2.5%; */
  }

  .tweet{
    grid-column: 1;
    grid-row: 19;
  }

/* DESKTOP */
@media screen and (min-width: 1025px){
  .container{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
  }

  .container2{
    display: grid;
    grid-template: 33.33% 33.33% 33.33%;
  }

  .footernav{
    grid-column: 3;
    grid-row: 1;
    padding-top: 1.5em;
    padding-right: .5em
  }

  footer nav li{
    color: white;
    padding-right: 1em;
    font-family: "Poppins";
    text-align: right;
  }

  .address{
    grid-column: 2;
    grid-row: 1;
    text-align: left;
    padding-top: 1.5em;
  }

  .footerimg{
    grid-column: 1;
    grid-row: 1;
    padding-top: 1em;
    padding-left: .5em;
  }
  main h1{
    padding: 20px;
    text-align: center;
  }
  main h2{
    text-align: left;
  }
  .homepageimage{
    grid-column: 1;
    grid-row: 1;
  }
  .hallo{
    grid-column: 2/-1;
    grid-row: 1;
    padding: 2.5%;
  }

  .berlinchurch{
    grid-column: 1;
    grid-row: 2;
  }

  .eastsidegallery{
    grid-column: 2;
    grid-row: 2;
  }

  .humboldtuniversity{
    grid-column: 3;
    grid-row: 2;
  }

  .aboutheading{
    grid-column:1/4;
    grid-row: 1;
    text-align: center;
  }

  .whatisthecentreheading{
    grid-column: 1/3;
    grid-row: 2;
  }

  .whatisthecentre{
    grid-column: 3;
    grid-row: 3;
    padding: 2.5%;
  }

  .researchyoutube{
    grid-column: 1/3;
    grid-row: 3;
  }

  .locationheading{
    grid-column: 1/4;
    grid-row: 4;
  }

  .location{
    grid-column: 3;
    grid-row: 5;
  }

  .ibimap{
    grid-column: 1/3;
    grid-row: 5;
  }

  .gmap_canvas {
    grid-column: 1/3;
    grid-row: 5;
    background:none!important;
    height:95%;
    width:95%;
    /* padding: 2.5%; */
  }

  .iframemap{
    grid-column: 1/3;
    grid-row: 5;
  }

  .directorheading{
    grid-column: 1/3;
    grid-row: 6;
  }

  .directorimage{
    grid-column: 1;
    grid-row: 7;
  }

  .director{
    grid-column: 2/4;
    grid-row: 7;
    padding: 2.5%;
  }

  .heading{
    grid-column: 1/4;
    grid-row:1;
  }

  .projectsdiagram{
    grid-column: 1;
    grid-row: 2;
  }

  .projectsoverview{
    grid-column: 2/4;
    grid-row: 2;
  }

  .workshopseriesheading{
    grid-column: 1/4;
    grid-row: 3;
  }

  .workshopseries{
    grid-column: 2/4;
    grid-row: 4;
  }

  .teaching{
    grid-column: 1;
    grid-row: 4;
  }

  .workshop1{
    grid-column: 1;
    grid-row: 5;
  }

  .workshop2{
    grid-column: 2;
    grid-row: 5;
  }

  .workshop3{
    grid-column: 3;
    grid-row: 5;
  }

  .internationalwebinarheading{
    grid-column: 1/4;
    grid-row: 6;
  }

  .internationalwebinar{
    grid-column: 2/4;
    grid-row: 7;
  }

  .teri{
    grid-column: 3;
    grid-row: 7;
  }

  .webinarvideo{
    grid-column: 1;
    grid-row: 7;
  }

  .libraryarticleheading{
      grid-column: 1/4;
      grid-row: 8;
  }

  .libraryarticle{
    grid-column: 2/4;
    grid-row: 9;
  }

  .officework{
    grid-column: 1;
    grid-row: 9;
  }

  .socialmediaheading{
    grid-column: 1/4;
    grid-row: 10;
  }

  .socialmedia{
    grid-column: 2/4;
    grid-row: 11;
  }

  .tweet{
    grid-column: 1;
    grid-row: 11;
  }
}

/* TABLET */
@media screen and (min-width: 667px) and (max-width: 1023px){

  .container{
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .container2{
    display: grid;
    grid-template: 50% 50%;
  }

  .footernav{
    grid-column: 1/3;
    grid-row: 1;
  }

  footer nav li{
    color: white;
    padding-right: 1em;
    font-family: "Poppins";
  }

  .address{
    grid-column: 1;
    grid-row: 2;
    text-align: left;
  }

  .footerimg{
    grid-column: 2;
    grid-row: 2;
    padding-top: 1em;
  }
  main h1{
    font-size: 2em;
    /* padding: 20px; */
    text-align: center;
  }
  main h2{
    font-size: 1.5em;
    padding: 2.5%;
    text-align: left;
  }

  .homepageimage{
    grid-column: 1;
    grid-row: 1;
  }
  .hallo{
    grid-column: 2/3;
    grid-row: 1/3;
    padding: 2.5%;
  }

  .berlinchurch{
    grid-column: 1;
    grid-row: 2;
  }

  .eastsidegallery{
    grid-column: 1;
    grid-row: 3;
  }

  .humboldtuniversity{
    grid-column: 2;
    grid-row: 3;
  }

  .aboutheading{
    grid-column:1/3;
    grid-row: 1;
    text-align: center;
  }

  .whatisthecentreheading{
    grid-column: 1/3;
    grid-row: 2;
  }

  .whatisthecentre{
    grid-column: 2;
    grid-row: 3;
  }

  .researchyoutube{
    grid-column: 1;
    grid-row: 3;
  }

  .locationheading{
    grid-column: 1/3;
    grid-row: 4;
  }

  .location{
    grid-column: 2;
    grid-row: 5;
  }

  .ibimap{
    grid-column: 1;
    grid-row: 5;
  }

  .gmap_canvas {
    grid-column: 1;
    grid-row: 5;
    background:none!important;
    height:95%;
    width:95%;
  }

  .iframemap{
    grid-column: 1;
    grid-row: 5;
  }

  .directorheading{
    grid-column: 1/3;
    grid-row: 6;
  }

  .directorimage{
    grid-column: 1;
    grid-row: 7;
  }

  .director{
    grid-column: 2;
    grid-row: 7;
  }

  .heading{
    grid-column: 1/3;
    grid-row:1;
  }

  .projectsdiagram{
    grid-column: 1;
    grid-row: 2;
  }

  .projectsoverview{
    grid-column: 2;
    grid-row: 2;
  }

  .workshopseriesheading{
    grid-column: 1/3;
    grid-row: 3;
  }

  .workshopseries{
    grid-column: 2;
    grid-row: 4;
  }

  .teaching{
    grid-column: 1;
    grid-row: 4/6;
    /* padding-top: 2.5em; */
  }

  .workshop1{
    grid-column: 2;
    grid-row: 5;
  }

  .workshop2{
    grid-column: 1;
    grid-row: 6;
  }

  .workshop3{
    grid-column: 2;
    grid-row: 6;
  }

  .internationalwebinarheading{
    grid-column: 1/3;
    grid-row: 7;
  }

  .internationalwebinar{
    grid-column: 2;
    grid-row: 8;
  }

  .teri{
    grid-column: 2;
    grid-row: 9;
  }

  .webinarvideo{
    grid-column: 1;
    grid-row: 8/10;
  }

  .libraryarticleheading{
      grid-column: 1/3;
      grid-row: 11;
  }

  .libraryarticle{
    grid-column: 2;
    grid-row: 12;
  }

  .officework{
    grid-column: 1;
    grid-row: 12;
  }

  .socialmediaheading{
    grid-column: 1/3;
    grid-row: 13;
  }

  .socialmedia{
    grid-column: 2;
    grid-row: 14;
  }

  .tweet{
    grid-column: 1;
    grid-row: 14;
  }
}

@media print {
       body:after{
         content:url(https://chart.googleapis.com/chart?cht=qr&chs=150x150&chl=http://yourdomain.com&choe=UTF-8)
       }
}
